.container {
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
.image img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.3s ease 0s;
    -webkit-transition: duration 5sec;
    -moz-transition: duration 5sec;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) ;
    -ms-transition: duration 5sec;
    -o-transition: duration 5sec;
    transition: duration 5sec;
}